$main-color: #fff;
$primary-color: #F3A261;
$secondary-color: #334155;
$tertiary-color: #64748B;
$text: #101010;
$text-white: #F4F2EE;
$bg: #1B1B1B;
$text-secondary: #8C8C8C;;
$error: #ED0A34;
$succes: #0284C7;

$transition: all .5s ease;